.goods_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 120px;
    justify-content: center;
    align-items: center;
}

.shopTitle {
    margin-top: 180px;
}

.marketTitle {
    margin-top: 100px;
}

.ships {
    margin-top: 100px;
    padding-bottom: 10rem;
}

.contracts {
    cursor: pointer;
    transition: 0.2s;
}

.contracts:hover {
    opacity: 0.7
}

.modalWidth {
    width: 300px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.shipcargo {
    cursor: pointer;
    transition: 0.2s;
}

.shipcargo:hover {
    background-color: #FF7E33;
}

@media only screen and (min-width: 600px) {
    .modalWidth {
        width: 600px;
    }
}