.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.title {
    margin-top: 100px;
}

.PContainer {
    margin: 0;
}

.formControlLabel {
    color: orange;
}

.formBodyContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.waypoints {
    transition: 0.2s;
    -webkit-animation: fadein 2s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s;
    /* Firefox < 16 */
    -ms-animation: fadein 2s;
    /* Internet Explorer */
    -o-animation: fadein 2s;
    /* Opera < 12.1 */
    animation: fadein 2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.parent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.radioContainer{
    display: flex;
    flex-direction: row;
    gap: 150px;
}



@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.shipyards {
    color: blue;
    cursor: pointer;
}

.shipyards:hover {
    text-decoration: underline;
}